@font-face {
  font-family: 'SF Alien Encounters';
  src: url(https://fonts.cdnfonts.com/s/29304/SFAlienEncounters.woff);
}

body {
  overscroll-behavior: none;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;

  background: rgba(126, 220, 255, 1);
  background-image: linear-gradient(
    0deg,
    rgba(255, 197, 217, 1) 9%,
    rgba(126, 220, 255, 1) 91%
  );
}

h1 {
  font-family: 'SF Alien Encounters', sans-serif;
  font-size: 50px;
  color: #7dffd4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #c0c0c0;
}

.grid {
  display: inline-grid;
  height: 600px;
  width: 600px;
  background-color: #c0c0c0;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
}

.cell {
  border: 1px solid #808080;
  background-color: #c0c0c0;
}

.cell:hover {
  background-color: #7dffd4;
}

.button {
  background-color: #c0c0c0;
  font-size: medium;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 100px;
  height: 50px;
  margin: 5px;
}

.button:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  color: #424242;
  box-shadow: 3px -4px 0px -3px #000000, -3px -4px 0px -3px #000000,
    -4px -4px 0px -3px #000000, -4px 3px 0px -3px #000000;
  outline: 2px dotted #000000;
  outline-offset: -6px;
}

.button:active {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  color: white;
  box-shadow: 3px -4px 0px -3px #000000, -3px -4px 0px -3px #000000,
    -4px -4px 0px -3px #000000, -4px 3px 0px -3px #000000;
  outline: 2px dotted #000000;
  outline-offset: -6px;
}

footer {
  margin-top: 30px;
}
